<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IRespuestaDeSolicitud">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            
            <endpoint address="URL WCF Notificacion"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IRespuestaDeSolicitud"
                contract="RespuestaSolicitudWCF.IRespuestaDeSolicitud" name="BasicHttpsBinding_IRespuestaDeSolicitud" />
        </client>
    </system.serviceModel>
</configuration>